---
import AppLayout from "../layouts/AppLayout.astro";
import Taskbar from "../components/Taskbar.astro";
const pageTitle = "About"
---
<style>
	.page{
		background-color: white;
		margin: 0 auto;
		width: 100%;
		max-width: 80ch;
		padding: 2rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		line-height: 1.5;
		padding-bottom: 100vh;
		border-radius: 2.5px;
	}
	.ruler{
		background-color: grey;
		margin: 0 auto;
		width: 100%;
		max-width: 80ch;
		padding: 1rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		line-height: 1.5;
		border-radius: 2.5px;

	}
</style>

<AppLayout pageTitle = {pageTitle}>
	<div class="ruler"></div>
	<div class="page">
		<h1>About</h1>
		<h3>Hi, my name is Finn van Montfort.</h3>
		<p>I love running, programming and learning new skills. I am currently a 1st year computer science student at the university of Exeter.
			My goal is to become a software developer 
			Feel free to contact me or check out my work.
		</p>
	</div>
	<Taskbar/>
</AppLayout>