---
import Social from "../components/Social.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'Contact Me';
---
<BaseLayout pageTitle = {pageTitle}>
    <h1>Contact me:</h1>
    <ul>
        <li>
            <Social/>
        </li>
    </ul>
</BaseLayout>