---
import BaseLayout from "../layouts/BaseLayout.astro";
import Identity from "../components/Identity.astro";
const pageTitle = "Home Page";
---
<style>
	*{
		margin:0;
		padding:0;
	}
	html{
		background-color: #212121;
		background-image: url('../assets/BackgroundDark.jpeg');
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.center-screen {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 100vh;
	}
  
</style>
<BaseLayout pageTitle = {pageTitle}>
	<div class= "center-screen">
		<Identity/>
	</div>
</BaseLayout>
