---
import BaseLayout from "../layouts/BaseLayout.astro";
import profilePic from "../assets/Profile.jpg";
import backgroundLight from "../assets/BackgroundLight.jpeg";
const pageTitle = "Home Page";
---
<style>
	bbody{
		background-color: #ffffff;
		background-image: image(backgroundLight);
	}
	img{
		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	h1{
		text-align: center;
		color: #ffffff;
		background-color: black;
		opacity: 0.8;
	}
</style>
<BaseLayout pageTitle = {pageTitle}>
	<img src={profilePic} alt="Profile Pic" height="200" width="200"/>
	<h1 >Finn van Montfort</h1>
	<h2 style="text-align: center;">Student, Runner & aspiring Software Developer</h2>
	<a href="/portfolio/">Check out my work</a>
	<br/>
	<a href="/contact/">Contact me</a>
</BaseLayout>
