---
import Slide from "../components/Slide.astro";
import AppLayout from "../layouts/AppLayout.astro";
import Taskbar from "../components/Taskbar.astro";
const allSlides = await Astro.glob("../pages/slides/*.md")
const pageTitle = "Portfolio page"
---

<style>
	ul{
		background-color: orange;
	}
	.item1 { 
		flex-grow: 1;
		background-color: orange;
		height: 100%;
	}
	.item2 { 
		flex-grow: 9;
		background-color: black;
		height: 100%;
	}
	.flex-container{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;
	}
</style>

<AppLayout pageTitle = {pageTitle}>
	<div class="flex-container">

	
		<div class="item1">
			{allSlides.map((slide) => <Slide url={slide.url} title ={slide.frontmatter.title}/>)}
		</div>
		<div class="item2">
			slide container
		</div>
	</div>
	<Taskbar/>
</AppLayout>