---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<style>
    header{
        margin-bottom: 50px;
    }
</style>

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>