---
---
<style>
    nav{
        margin:0;
        padding:0;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: blue;
    }
    li{
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #111;
    }
</style>

<nav>
    <ul>
        <li>File</li>
        <li>Home</li>
        <li>Insert</li>
        <li>Draw</li>
        <li>Design</li>
        <li>Layout</li>
        <li>References</li>
        <li>Mailings</li>
        <li>Review</li>
        <li>View</li>
        <li>Help</li>
    </ul>
    <div>
        <ul>
            <li>Undo</li>
            <li>Clipboard</li>
            <li>Font</li>
            <li>Paragraph</li>
            <li>Styles</li>
            <li>Editing</li>
            <li>Voice</li>
            <li>Sensitivity</li>
            <li>Editor</li>
            <li>Reuse files</li>
        </ul>
    </div>
    

</nav>