---

---
<style>
    nav{
        margin:0;
        padding:0;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: blue;
    }
    li{
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li:hover {
        background-color: darkblue;
    }
</style>

<nav>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>Portfolio</li>
    </ul>
    <!--
    <div>
        <ul>
            <li>Undo</li>
            <li>Clipboard</li>
            <li>Font</li>
            <li>Paragraph</li>
            <li>Styles</li>
            <li>Editing</li>
            <li>Voice</li>
            <li>Sensitivity</li>
            <li>Editor</li>
            <li>Reuse files</li>
        </ul>
    </div>
-->
</nav>