---

---
<style>
    taskbar{
        margin: 0;
        padding: 0;
        background-color: rgba(110, 110, 110, 0.50);
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        display: inline;
    }
</style>

<taskbar>
    <ul>
        <li><a href="/">logout</a></li>
    </ul>
</taskbar>