<style>
    *{
        margin: 0;
        padding: 0;
        background-color: #F3F3F3;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: inline;
        z-index: 110;
        justify-content: center;
    }
</style>

<taskbar>
    <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact me</a></li>
        <li><a href="/portfolio">portfolio</a></li>
        <li><a href="/">logout</a></li>
    </ul>
</taskbar>